<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<h1><%= @owner.username %> 's Appliances: </h1>



<% @owner.appliances.each do |a| %>
    Appliance: <%= link_to a.appliance_name, a %> <br>
      <%= button_to "delete appliance", {:controller => 'appliances', :action => 'destroy', :id => a.id }, :method => :delete %>

 <% end %>

 <br>
 <%= button_to "add new appliance", new_appliance_path, :method => :get %>